@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: Lato;
    background-color: rgb(240, 248, 255);
    color: rgb(20, 40, 60);
    margin: 0;
    padding: 0;
}

header {
    background-color: rgb(100, 149, 237);
    padding: 20px;
    text-align: center;
    color: white;
}

main {
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

h1, h2 {
    font-family: Lato;
}

footer {
    text-align: center;
    background-color: rgb(70, 130, 180);
    color: white;
    padding: 10px;
}